<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CitiesService</servlet-name>
        <servlet-class>com.airlinejk.services.CitiesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountriesService</servlet-name>
        <servlet-class>com.airlinejk.services.CountriesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AirplanesService</servlet-name>
        <servlet-class>com.airlinejk.services.AirplanesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaneTypesService</servlet-name>
        <servlet-class>com.airlinejk.services.PlaneTypesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightsService</servlet-name>
        <servlet-class>com.airlinejk.services.FlightsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoutesService</servlet-name>
        <servlet-class>com.airlinejk.services.RoutesService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CitiesService</servlet-name>
        <url-pattern>/cities/all</url-pattern>
        <url-pattern>/cities/get</url-pattern>
        <url-pattern>/cities/update</url-pattern>
        <url-pattern>/cities/delete</url-pattern>
        <url-pattern>/cities/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountriesService</servlet-name>
        <url-pattern>/countries/get</url-pattern>
        <url-pattern>/countries/update</url-pattern>
        <url-pattern>/countries/all</url-pattern>
        <url-pattern>/countries/add</url-pattern>
        <url-pattern>/countries/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AirplanesService</servlet-name>
        <url-pattern>/airplanes/get</url-pattern>
        <url-pattern>/airplanes/all</url-pattern>
        <url-pattern>/airplanes/update</url-pattern>
        <url-pattern>/airplanes/add</url-pattern>
        <url-pattern>/airplanes/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaneTypesService</servlet-name>
        <url-pattern>/planetypes/get</url-pattern>
        <url-pattern>/planetypes/all</url-pattern>
        <url-pattern>/planetypes/update</url-pattern>
        <url-pattern>/planetypes/add</url-pattern>
        <url-pattern>/planetypes/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightsService</servlet-name>
        <url-pattern>/flights/add</url-pattern>
        <url-pattern>/flights/update/info</url-pattern>
        <url-pattern>/flights/update/seats</url-pattern>
        <url-pattern>/flights/delete</url-pattern>
        <url-pattern>/flights/all</url-pattern>
        <url-pattern>/flights/all/discount</url-pattern>
        <url-pattern>/flights/get/route</url-pattern>
        <url-pattern>/flights/get/routediscount</url-pattern>
        <url-pattern>/flights/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoutesService</servlet-name>
        <url-pattern>/routes/add</url-pattern>
        <url-pattern>/routes/update</url-pattern>
        <url-pattern>/routes/delete</url-pattern>
        <url-pattern>/routes/all</url-pattern>
        <url-pattern>/routes/get/origin</url-pattern>
        <url-pattern>/routes/get/destination</url-pattern>
        <url-pattern>/routes/get/origin_destination</url-pattern>
        <url-pattern>/routes/get/origin_destination_like</url-pattern>
        <url-pattern>/routes/get</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
